exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(RcppEigen)
import(RcppNumerical)
import(linprog)
import(lpSolve)
import(ggplot2)
import(gridExtra)
importClassesFrom("lpSolve")
exportClasses("RPrometheeArguments")
exportMethods("RPrometheeI")
exportMethods("RPrometheeII")
exportMethods("RPrometheeIII")
exportMethods("RPrometheeIV")
exportMethods("RPrometheeIVKernel")
exportMethods("RPrometheeV")
exportMethods("PrometheeIPlot")
exportMethods("PrometheeIIPlot")
exportMethods("WalkingWeightsPlot")
exportClasses("RPrometheeArguments3")
useDynLib(RMCriteria)
