exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(RcppEigen)
import(RcppNumerical)
import(linprog)
import(lpSolve)
exportClasses("RPrometheeArguments")
exportClasses("RPromethee")
exportMethods("RPrometheeI")
useDynLib(RMCriteria)
