exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(RcppEigen)
import(RcppNumerical)
import(linprog)
import(lpSolve)
import(ggplot2)
exportClasses("RPrometheeArguments")
exportMethods("RPrometheeI")
exportMethods("RPrometheeII")
exportMethods("RPrometheeIII")
exportMethods("RPrometheeIV")
exportMethods("RPrometheeIVKernel")
exportMethods("RPrometheeV")
exportClasses("RPrometheeArguments3")
useDynLib(RMCriteria)
